:root {
    font-family: 'Karla', sans-serif;
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

.body {
    background-color: var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: var(--Light-Gray);
    width: 320px;
    margin-top: 100px;
    padding: 15px 25px 15px 25px;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
}

.header__h1 {
    color: var(--Cyan);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.header__h2 {
    color: var(--Bright-Yellow);
    font-size: 0.97rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.header__p {
    color: var(--Grayish-Blue);
    font-size: 0.88rem;
    line-height: 25px;
    margin-top: 0px;
}

.main__subs {
    max-width: 100%;
    width: 320px;
    background-color:var(--Cyan);
    margin: 0;
    padding: 20px 25px 20px 25px;
    box-sizing: border-box;
    color: var(--Light-Gray);
}

.subs__h2{
    color: var(--Light-Gray);
    font-size: 1.15rem;
    /* margin-top: 5px; */
    margin: 0px 0px 20px 0px;
}
.subs__price {
    font-size: 2rem;
    font-weight: 700;
    margin:0px 0px 5px 0px;
}

.subs__description {
    margin-bottom:30px;
    margin: 0px 0px 30px 0px;
}

.main__subs span{
    position: relative;
    bottom: 5px;
    left: 6px;
    font-size: 1rem;
    font-weight: 200;
}

.main__subs a{
    text-decoration: none;
    color: var(--Light-Gray);
    background-color: var(--Bright-Yellow);
    display: block;
    font-size: 1.1rem;
    text-align: center;
    padding: 15px 0px 15px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: 5px 5px 150px rgb(53, 52, 52);     */
}
.main__whyus {
    padding: 15px 25px 15px 25px;
    color: var(--Light-Gray);
    background-color: hsl(179, 46%, 50%);
    border-radius: 0px 0px 5px 5px ;
    box-sizing: border-box;
    font-size: 0.75rem;
    margin-bottom: 100px;
}
.whyus__ul {
    list-style: none;
    padding:0;
    line-height: 22px;
    font-size: 0.95rem;
    font-weight: 200;
}

@media (min-width: 700px) {

    .body {
        height: 100vh;
        margin: auto;
        justify-content: center;
    }
    .header {
        width: 700px;
        padding: 25px 80px 20px 40px;
    }
    .header__h1 {
        font-size: 1.6rem;
    }

    .header__h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .header__p {
        font-size: 1.06rem;
    }

    .main {
        display: grid;
        grid-template-columns: 350px 350px;
    }

.main__subs{
    width: auto;
    padding: 20px 25px 20px 40px;
}
.subs__h2 {
        margin-top: 15px; 
        margin-bottom: 15px;
}
.subs__price {
    margin-bottom: 10px;
}
.subs__description {
    margin-bottom: 40px;
}
.main__whyus {
    margin-bottom: 0px;
    padding: 20px 25px 20px 40px;
     }
}